.contacList{
    list-style: none;
    padding: 0;
}
.listName{
    margin: 0;
    margin-bottom: 5px;
}
.listNumber{
    margin: 0;
}
.listItem{
    margin-bottom: 10px;
    display: flex;
}
.contactInfo{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
